<!-- header section start -->
<app-header></app-header>

<div class="buy-ticket">
    <div class="container">
        <div class="buy-ticket-area">
            <a href="#"><i class="icofont icofont-close"></i></a>
            <div class="row">
                <div class="col-lg-8">
                    <div class="buy-ticket-box">
                        <h4>Buy Tickets</h4>
                        <h5>Seat</h5>
                        <h6>Screen</h6>
                        <div class="ticket-box-table">
                            <table class="ticket-table-seat">
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                </tr>
                            </table>
                            <table class="ticket-table-seat">
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td class="active">1</td>
                                    <td class="active">1</td>
                                    <td class="active">1</td>
                                    <td class="active">1</td>
                                    <td class="active">1</td>
                                    <td class="active">1</td>
                                    <td class="active">1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                </tr>
                            </table>
                            <table class="ticket-table-seat">
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                            </table>
                        </div>
                        <div class="ticket-box-available">
                            <input type="checkbox" />
                            <span>Available</span>
                            <input type="checkbox" checked />
                            <span>Unavailable</span>
                            <input type="checkbox" />
                            <span>Selected</span>
                        </div>
                        <a href="#" class="theme-btn">previous</a>
                        <a href="#" class="theme-btn">Next</a>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="buy-ticket-box mtr-30">
                        <h4>Your Information</h4>
                        <ul>
                            <li>
                                <p>Location</p>
                                <span>HB Cinema Box Corner</span>
                            </li>
                            <li>
                                <p>TIME</p>
                                <span>2018.07.09 20:40</span>
                            </li>
                            <li>
                                <p>Movie name</p>
                                <span>Home Alone</span>
                            </li>
                            <li>
                                <p>Ticket number</p>
                                <span>2 Adults, 2 Children, 2 Seniors</span>
                            </li>
                            <li>
                                <p>Price</p>
                                <span>89$</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- header section end -->
<!-- breadcrumb area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h1>{{film.nomFilm}}</h1>
                </div>
            </div>
        </div>
    </div>
</section><!-- breadcrumb area end -->
<!-- transformers area start -->
<section class="transformers-area">
    <div class="container">
        <div class="transformers-box">
            <div class="row flexbox-center">
                <div class="col-lg-5 text-lg-left text-center">
                    <div class="transformers-content">
                        <img [src]="film.image" alt="about" />
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="transformers-content">
                        <h2></h2>
                        <p> {{film.category}}</p>
                        <ul>
                            <li>
                                <div class="transformers-left">
                                    Movie:
                                </div>
                                {{film.nomFilm}}

                            </li>
                            <li>
                                <div class="transformers-left">
                                    Writer:
                                </div>
                                {{film.createur}}

                            </li>
                            <li>
                                <div class="transformers-left">
                                    Duration:
                                </div>
                                {{film.dureeFilm}}

                            </li>

                            <li>
                                <div class="transformers-left">
                                    Date :
                                </div>
                                {{film.dateFilm}}
                            </li>

                            <li>
                                <div class="transformers-left">
                                    Description:
                                </div>
                                <p>{{film.description}}</p>


                            </li>
                            <li>
                                <div class="transformers-left">
                                    Projection:
                                </div>
                                <div class="transformers-right">
                                    <div class="transformers-bottom">
                                        <select class="custom-select"  (change)="setProjection($event)">
                                            <option value="">select projection</option>
                                            <option *ngFor="let proj of projectionList"  [value]="proj.idProjection">
                                                {{proj.dateProjection}} {{proj.timeProjection}}

                                            </option>
                                        </select>
                                    </div>


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="theme-btn" (click)="goToProjection()"><i class="icofont icofont-ticket"></i> BUY
                TICKET</a>
        </div>
    </div>
</section><!-- transformers area end -->
<br><br><br><br><br>
<app-footer></app-footer>